*{
  font-family: 'Press Start 2P', cursive;
}

.ring {
  height: 40em;
  background: url(../images/punch-out-ring.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -10;
}

#health {
  position: relative;
  width: 45px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1em;
  left: 130px;
  top: 36px;
}

#round {
  position: relative;
  background-color: black;
  border: solid 2px blue;
  text-align: center;
  width: 275px;
  color: white;
  font-size: 1.2em;
  top: 36px;
  left: 200px;
}

.little-mac-container{
  width:50px;
  height:100px;
  /*background:rgba(0,0,255,0.5);*/
  position:absolute;
  top:340px;
  left:50%;

  z-index: 10;
}

.little-mac-container littleMac{
  width:100%;
  height:auto;
  /*background:rgba(0,0,255,0.5);*/
  position:absolute;
  top:340px;
  left:50%;

  z-index: 10;
}

/*bounce for little mac for standing still*/
@-webkit-keyframes little-mac-stand{
  0%{top:340px;}
  50%{top:345px;}
  100%{top:340px;}
}

/*little mac animation starter for standing still*/
.little-mac-animate{
  -webkit-animation:little-mac-stand .3s infinite;
}

/*little mac dodge left animation starter*/
.little-mac-dodge-left{
  -webkit-animation: shift-left .8s;
}

/*animation to shift little mac container left to dodge*/
@keyframes shift-left {
  0% {left:50%}
  50% {left: 48%}
  100% {left: 50%}
}

/*animation to shift little mac container right to dodge*/
@keyframes shift-right {
  0% {left:50%}
  50% {left: 52%}
  100% {left: 50%}
}

/*little mac dodge right animation starter*/
.little-mac-dodge-right{
  -webkit-animation: shift-right .8s;
}



/*little mac standing still sprite frames*/
.littleMac {
  height: 65px;
  width: 29px;
  background: url(../images/little-mac.png) -85px -85px;
  zoom: 2;
  animation: little-mac .6s steps(2) infinite;
}

/*little mac dodge left frame animation*/
.dodge-left {
  height: 65px;
  width: 29px;
  background: url(../images/little-mac.png) -85px -85px;
  zoom: 2;
  animation: dodge-left .4s steps(2);
}

/*stitch little mac standing frames*/
@-webkit-keyframes little-mac {
  100%{
    background-position: -162px -85px;
  }
}

/*stitch little mac dodge left frames*/
@-webkit-keyframes dodge-left {
  100%{
    background-position: -645px -85px;
  }
}

/*stitch little mac dodge left frames*/
.dodge-right {
  height: 65px;
  width: 29px;
  background: url(../images/little-mac.png) -85px -85px;
  zoom: 2;
  animation: dodge-right .4s steps(2);
}

/*little mac frame that will dodge right*/
@-webkit-keyframes dodge-right {
  100%{
    background-position: -575px -85px;
  }
}

.little-mac-hit {
  height: 65px;
  width: 29px;
  background: url(../images/little-mac.png) -85px -85px;
  zoom: 2;
  animation: little-mac-hit 1s steps(2);
}

@-webkit-keyframes little-mac-hit {
  100%{
    background-position: -645px -235px;
  }
}

.little-mac-punch {
  height: 65px;
  width: 29px;
  background: url(../images/little-mac.png) -85px -85px;
  zoom: 2;
  animation: little-mac-punch 1s steps(2);
}

@-webkit-keyframes little-mac-punch {
  100%{
    height: 90px;
    background-position: -165px -225px;
  }
}

@keyframes little-mac-attack {
  0% {top:340px}
  50% {top: 300px;
            -webkit-transform: scale(1);}
  100% {top: 340px}
}

.little-mac-attack{
  -webkit-animation: little-mac-attack 2s;
}


/*-------------------TYSON STUFF ---------------------------------------------*/
.tyson-container{
  width:75px;
  height:120px;
  /*background:rgba(0,0,100,0.5);*/
  position:absolute;
  top:250px;
  left:50%;
  z-index: 5;
}

/*bounce for tyson for standing still*/
@-webkit-keyframes tyson-stand{
  0%{top:250px;}
  50%{top:255px;}
  100%{top:250px;}
}

/*tyson animation starter for standing still*/
.tyson-animate{
  -webkit-animation:tyson-stand .4s infinite;
}

/*tyson standing animation*/
.mikeTyson {
  display: block;
  height: 117px;
  width: 74px;
  background: url(../images/tyson-steady.png);
  zoom: 1.5;
  animation: mike 0.6s steps(4) infinite;
}

/*tyson sprite stitching*/
@keyframes mike {
   100% {
    background-position: -252px;
   }
}

/*tyson left upper animation*/
.tyson-left-upper {
  display: block;
  height: 117px;
  width: 74px;
  background: url(../images/tyson-left-upper.png); 
  zoom: 1.5;
  animation: tyson-left-upper .4s steps(4);
}

/*tyson sprite stitching*/
@keyframes tyson-left-upper {
   100% {
    background-position: -272px;
   }
}

.tyson-right-upper {
  display: block;
  height: 117px;
  width: 74px;
  background: url(../images/tyson-right-upper.png);
  zoom: 1.5;
  animation: tyson-right-upper 1s steps(4);
}

/*tyson sprite stitching*/
@keyframes tyson-right-upper {
   100% {
    background-position: -272px;
   }
}

/*animation to move tyson forward to punch*/
@keyframes tyson-punch {
  0% {top:250px}
  50% {top: 265px}
  100% {top: 250px;
              left: 48%;}
}

/*tyson punch forward animation starter*/
.tyson-punch{
  -webkit-animation: tyson-punch .8s;
}

.tyson-hit {
  display: block;
  height: 117px;
  width: 74px;
  background: url(../images/tyson-hit.png);
  zoom: 1.5;
  animation: tyson-hit 1s steps(2);
}

/*tyson sprite stitching*/
@keyframes tyson-hit {
   100% {
    background-position: -145px;
   }
}